<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="origin" name="referrer">
    <meta content="世界中のあらゆる情報を検索するためのツールを提供しています。さまざまな検索機能を活用して、お探しの情報を見つけてください。" name="description">
    <meta content="noodp" name="robots">
    <meta content="/static/googleg_standard_color_128dp.png" itemprop="image">
    <meta content="origin" name="referrer">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename=wiki_color) }}">
    <title>Home</title>
    <script type="text/javascript" nonce="6tuUzV4qcgFQTy499gvwkQ==" src="/static/first.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/gb_a.css"/>
</head>
<body jsmodel=" " class="hp vasq" id="gsr">
<link rel="stylesheet" type="text/css" href="/static/logos.css"/>
<link rel="stylesheet" type="text/css" href="/static/gstyle.css" data-jiis="cc" id="gstyle"/>
<link rel="stylesheet" type="text/css" href="/static/gl.css"/>
<link rel="stylesheet" type="text/css" href="/static/mybootstrap.css"/>

<div class="ctr-p" id="viewport">
    <div id="doc-info"></div>
    <div id="cst">
        <link rel="stylesheet" type="text/css" href="/static/y.css"/>
    </div>
    <link rel="stylesheet" type="text/css" href="/static/gb.css"/>

    <div id="gb">
        <div id="gbw">
            <div style="top:0;left:0;right:0;width:100%">
                <div class="gb_Oa gb_Bg gb_g gb_Ag gb_Eg" data-ogsr-up="">
                    <div class="gb_ce gb_g gb_Bg gb_sg">
                        <div class="gb_f gb_g"><a class="gb_e" data-pid="23"
                                                  href="https://mail.google.com/mail/?tab=wm&amp;authuser=0&amp;ogbl"
                                                  rel="noreferrer" target="_blank">Gmail</a>
                        </div>
                        <div class="gb_f gb_g"><a class="gb_e" data-pid="2"
                                                  href="https://www.google.co.jp/imghp?hl=ja&amp;tab=wi&amp;authuser=0&amp;ogbl"
                                                  rel="noreferrer" target="_blank">画像</a>
                        </div>
                    </div>
                    <div class="gb_Zc gb_Bg gb_g">
                        <div class="gb_y gb_hd gb_g" data-ogsr-alt="" id="gbwa">
                            <div class="gb_Kf"><a class="gb_z gb_sc"
                                                  href="https://www.google.co.jp/intl/ja/about/products?tab=wh"
                                                  title="Google アプリ" aria-expanded="false" role="button"
                                                  tabindex="0"></a>
                                <div class="gb_Va"></div>
                                <div class="gb_Ua"></div>
                            </div>
                        </div>
                        <div class="gb_Ja gb_hd gb_Bg gb_g">
                            <div class="gb_Kf gb_Na gb_Bg gb_g"><a class="gb_z gb_Ia gb_g"
                                                                   href="https://accounts.google.com/SignOutOptions?hl=ja&amp;continue=https://www.google.com/"
                                                                   role="button" tabindex="0"
                                                                   title="Google アカウント: Qifan Sun  &#10;(sqf121@gmail.com)"><span
                                    class="gb_Ba gbii" aria-hidden="true"></span></a>
                                <div class="gb_Va"></div>
                                <div class="gb_Ua"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jhp" id="searchform">
        <script nonce="6tuUzV4qcgFQTy499gvwkQ==">
            (function () {
                var _j = 1280;
                try {
                    var s = document.getElementById('searchform');
                    var w = document['body'] && document.body['offsetWidth'];
                    if (s && w && w >= _j) {
                        s.className += ' big';
                        document['body'].className += ' big';
                    }
                } catch (e) {
                }
            })();
        </script>
        <div class="sfbg nojsv" style="margin-top:-20px">
            <div class="sfbgg"></div>
        </div>

        {#search form!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
        <form target="_blank" lass="tsf nj" action="https://www.google.com/search" style="overflow:visible" id="tsf"
              method="GET"
              name="f"
              onsubmit="return q.value!=''" role="search">
            <div id="tophf"><input name="source" type="hidden" value="hp"><input
                    value="KR5iXcO6BvK2mAX6kYyYDg"
                    name="ei" type="hidden"></div>
            <div jsmodel="vWNDde" jsdata="MuIEvd;;Bl6DIk">
                <div jscontroller="mvYTse" class="A8SBwf"
                     jsaction="DkpM0b:d3sQLd;IQOavd:dFyQEf;XzZZPe:jI3wzf;Aghsf:AVsnlb;iHd9U:Q7Cnrc;f5hEHe:G0jgYd;vmxUb:j3bJnb;R2c5O:LuRugf;qiCkJd:ANdidc;NOg9L:HLgh3;uGoIkd:epUokb;zLdLw:eaGBS;rcuQ6b:npT2md">

                    <link rel="stylesheet" type="text/css" href="/static/A8SBwf.css"/>

                    <div class="RNNXgb" jsname="RNNXgb">
                        <div class="SDkEP">
                            <div jscontroller="iDPoPb" class="a4bIc" jsname="gLFyf"
                                 jsaction="h5M12e;input:d3sQLd;focus:dFyQEf;blur:jI3wzf">

                                <link rel="stylesheet" type="text/css" href="/static/gLFyf.css"/>

                                <div class="vdLsw gsfi" jsname="vdLsw"></div>
                                <input class="gLFyf gsfi" maxlength="2048" name="q" type="text" id="txt_1"
                                       jsaction="paste:puy29d"
                                       aria-autocomplete="both" aria-haspopup="false" autocapitalize="off"
                                       autocomplete="off" autocorrect="off" role="combobox"
                                       spellcheck="false"
                                       title="検索" value="" aria-label="検索"
                                       data-ved="0ahUKEwiD89rFpp3kAhVyG6YKHfoIA-MQ39UDCAQ">
                                <script type="text/javascript">
                                    var input_sun = document.getElementById("txt_1");
                                    {#console.log(e.value)#}
                                    var flag = 1;


                                    input_sun.focus();

                                    {#function sleep(time) {#}
                                    {#    const d1 = new Date();#}
                                    {#    while (true) {#}
                                    {#        const d2 = new Date();#}
                                    {#        if (d2 - d1 > time) {#}
                                    {#            return;}}}#}

                                    {#auto refresh page!!!!!!!!!#}
                                    input_sun.addEventListener("keypress", function (event) {
                                        flag = event.keyCode;
                                        console.log("flagin:", flag)
                                        if (flag != undefined) {
                                            window.clearTimeout(timeoutHandle);
                                            timeoutHandle = window.setTimeout(function () {
                                                location.reload();
                                            }, 300000);
                                        }
                                    });
                                    var timeoutHandle = window.setTimeout(function () {
                                        location.reload();
                                    }, 120000);

                                    console.log("flag:", flag);

                                    {#clearing input fields upon pressing enter#}
                                    // Get the input field

                                    {#// Execute a function when the user releases a key on the keyboard#}
                                    {#input_sun.addEventListener("keypress", function (event) {#}
                                    {#    // Number 13 is the "Enter" key on the keyboard#}
                                    {#    if (event.keyCode === 13) {#}
                                    {#        console.log("enter", event)#}
                                    {##}
                                    {#        // Cancel the default action, if needed#}
                                    {#        event.preventDefault();#}
                                    {#        input_sun.value = "";#}
                                    {#    }#}
                                    {#2});#}

                                </script>
                            </div>
                            <div class="dRYYxd">

                                <link rel="stylesheet" type="text/css" href="/static/dRYYxd.css"/>

                                <div jscontroller="MC8mtf" class="JC0tCe" aria-label="音声で検索" role="button"
                                     tabindex="0"
                                     jsaction="h5M12e;rcuQ6b:npT2md"><span class="hb2Smf"></span></div>
                            </div>
                        </div>
                    </div>
                    {#                        <div class="FPdoLc VlcLAe">#}
                    {#                            <center><input class="gNO89b" value="Google 検索" aria-label="Google 検索" name="btnK"#}
                    {#                                           type="submit"#}
                    {#                                           data-ved="0ahUKEwiD89rFpp3kAhVyG6YKHfoIA-MQ4dUDCAk"> <input#}
                    {#                                    class="RNmpXc"#}
                    {#                                    value="I'm Feeling Lucky"#}
                    {#                                    aria-label="I'm Feeling Lucky"#}
                    {#                                    name="btnI"#}
                    {#                                    type="submit"#}
                    {#                                    jsaction="sf.lck"#}
                    {#                                    data-ved="0ahUKEwiD89rFpp3kAhVyG6YKHfoIA-MQ19QECAo">#}
                    {#                            </center>#}
                    {#                        </div>#}
                </div>
            </div>
        </form>
    </div>
    {#        <div class="sfbgx"></div>#}
    {#        <div id="gac_scont"></div>#}
    {#        <dialog class="spch-dlg" id="spch-dlg">#}
    {#            <div class="spch s2fp-h" style="display:none" id="spch">#}
    {#                <button class="close-button" id="spchx" aria-label="close">&times;</button>#}
    {#                <div class="spchc" id="spchc">#}
    {#                    <div class="inner-container">#}
    {#                        <div class="button-container"><span class="r8s4j" id="spchl"></span><span class="button"#}
    {#                                                                                                  id="spchb"><div#}
    {#                                class="microphone"><span class="receiver"></span><div class="wrapper"><span#}
    {#                                class="stem"></span><span class="shell"></span></div></div></span></div>#}
    {#                        <div class="text-container"><span class="spcht" id="spchi"#}
    {#                                                          style="color:#777"></span><span#}
    {#                                class="spcht" id="spchf" style="color:#000"></span></div>#}
    {#                        <div class="google-logo"></div>#}
    {#                    </div>#}
    {#                    <div class="permission-bar">#}
    {#                        <div class="permission-bar-gradient"></div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </dialog>#}
    {#        <div jscontroller="fEVMic" style="display:none" data-u="0" jsdata="C4mkuf;;Bl6DIo"#}
    {#             jsaction="rcuQ6b:npT2md"></div>#}
    {#        <div jscontroller="WgDvvc" jsdata="hE2vdf;;Bl6DIs" jsaction="rcuQ6b:npT2md"></div>#}


    <div class="content" id="main">
            <span class="ctr-p" id="body">
            <center><div
                    style="height:233px;margin-top:89px"
                    id="lga"><img alt="Google" height="92"
                                  id="hplogo"
                                  src="/static/googlelogo_color_272x92dp.png"
                                  srcset="/static/googlelogo_color_272x92dp_x1.png 1x, /static/googlelogo_color_272x92dp.png 2x"
                                  style="padding-top:109px"
                                  width="272"
                                  onload="typeof google==='object'&&google.aft&&google.aft(this)"></div><div
                    style="height:118px"></div><div id="prm-pt" style="margin-top:12px"><script
                    nonce="6tuUzV4qcgFQTy499gvwkQ==">window.gbar && gbar.up && gbar.up.tp && gbar.up.tp();</script><div
                    id="swml"></div></div></center></span>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-sm-1" align="center"></div>
            <div class="col-sm-2" align="center">
                <div>&nbsp;&nbsp;</div>
                <div align="center">{{ weather_result[0] }}</div>
                <table class="table" align="center">
                    <thead>
                    <tr>
                        {% for i in range(0,4) %}
                            <th>{{ weather_result[2][i] }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for i in range(4,8) %}
                            <td align="center">{{ weather_result[2][i] }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <div align="center">{{ weather_result[1] }}</div>
                <table class="table" align="center">
                    <thead>
                    <tr>
                        {% for i in range(8,12) %}
                            <th>{{ weather_result[2][i] }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for i in range(12,16) %}
                            <td align="center">{{ weather_result[2][i] }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-1" align="center">
                <div>&nbsp;&nbsp;</div>
{#                <div>{{ course_stop }}</div>#}
                <div>{{ library }}</div>
                <div>{{ unionpay }}</div>

                {% for item in qbhouse %}
                    <div>{{ item }}</div>
                {% endfor %}
            </div>
            <div id="swx" class="col-sm-2">
                <div class="sun_click" style="cursor:pointer;"
                     onclick="window.open('http://www.utm.inf.uec.ac.jp/pukiwiki/','_newtab');">
                    <h4>{{ temp_refresh }}</h4></div>

                {% for item in link_box_all %}
                    <div class="sun_click" style="cursor:pointer;"
                         onclick="window.open('{{ item[1] }}','_newtab');">{{ item[0] }}</div>
                {% endfor %}
                </a>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript">
                {#change the ico when click the link of lab#}
                $(".sun_click").click(function () {
                    var click_it = "1";
                    console.log(click_it)
                    // change teb icon color
                    var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
                    console.log(link)
                    link.type = 'image/x-icon';
                    link.rel = 'icon';
                    if ('{{ wiki_color }}' == 'google_point.ico') {
                        link.href = '/static/google.ico';
                        console.log("red to blue")
                        document.getElementsByTagName('head')[0].appendChild(link);
                    }
                });
            </script>

            <div class="col-sm-4">
                <div id="mycolor" style="cursor:pointer;"
                     onclick="window.open('{{ next_zemi_url }}','_newtab');"><h4>PukiWiki Recent Zemi Date&nbsp;
                    <span>{{ next_zemi_date }}</span> {{ zemi_title }}</h4></div>
                <div>
                    {% for list1 in zemi_content2 %}
                        {{ list1|safe }}
                    {% endfor %}
                </div>
            </div>


            <div class="col-sm-1"></div>

        </div>
    </div>

    {#    实现右上角账号和googleapp的动画效果#}
    <script type="text/javascript" src="/static/account_and_movement.js" nonce="6tuUzV4qcgFQTy499gvwkQ=="></script>
    <div class="gb_za">
        <div class="gb_C gb_B gb_S gb_Z" aria-label="Google アプリ" aria-hidden="true" role="region">
            <ul class="gb_E gb_w" aria-dropeffect="move">
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="192" draggable="false"
                                                         href="https://myaccount.google.com/?utm_source=OGB&amp;hl=ja&amp;tab=wk&amp;authuser=0&amp;utm_medium=app"
                                                         id="gb192">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_n"
                          style="background-image:url('https://lh3.googleusercontent.com/-My1KzrfjTo0/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd87qfl29ZIr9wwOiM1TqkjvYiQrQ.CMID/s64-b8-cc-rp/photo.jpg')"></span><span
                        class="gb_o">Google アカウント</span></a></li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="1" draggable="false"
                                                         href="https://www.google.co.jp/webhp?tab=ww&amp;authuser=0"
                                                         id="gb1">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -138px"></span><span
                        class="gb_o">検索</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="8" draggable="false"
                                                         href="https://maps.google.co.jp/maps?hl=ja&amp;tab=wl&amp;authuser=0"
                                                         id="gb8">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -1035px"></span><span
                        class="gb_o">マップ</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="36" draggable="false"
                                                         href="https://www.youtube.com/?gl=JP&amp;tab=w1&amp;authuser=0"
                                                         id="gb36">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -1449px"></span><span
                        class="gb_o">YouTube</span></a></li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="78" draggable="false"
                                                         href="https://play.google.com/?hl=ja&amp;tab=w8&amp;authuser=0"
                                                         id="gb78">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -759px"></span><span
                        class="gb_o">Play</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="5" draggable="false"
                                                         href="https://news.google.co.jp/nwshp?hl=ja&amp;tab=wn&amp;authuser=0"
                                                         id="gb5">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -2208px"></span><span
                        class="gb_o">ニュース</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="23" draggable="false"
                                                         href="https://mail.google.com/mail/?tab=wm&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb23">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -2139px"></span><span
                        class="gb_o">Gmail</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="53" draggable="false"
                                                         href="https://contacts.google.com/?hl=ja&amp;tab=wC&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb53">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -2622px"></span><span
                        class="gb_o">連絡先</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="49" draggable="false"
                                                         href="https://drive.google.com/?tab=wo&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb49">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 0"></span><span class="gb_o">ドライブ</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="24" draggable="false"
                                                         href="https://www.google.com/calendar?tab=wc&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb24">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -1794px"></span><span
                        class="gb_o">カレンダー</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="51" draggable="false"
                                                         href="https://translate.google.co.jp/?hl=ja&amp;tab=wT&amp;authuser=0"
                                                         id="gb51">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -1587px"></span><span
                        class="gb_o">翻訳</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="31" draggable="false"
                                                         href="https://photos.google.com/?tab=wq&amp;authuser=0&amp;pageId=none"
                                                         rel="noreferrer" target="_blank" id="gb31">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -2070px"></span><span
                        class="gb_o">フォト</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="6" draggable="false"
                                                         href="https://www.google.co.jp/shopping?hl=ja&amp;source=og&amp;tab=wf&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb6">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -69px"></span><span
                        class="gb_o">ショッピング</span></a>
                </li>
            </ul>
            <div class="gb_U gb_za">
                <div class="gb_p gb_m" style="background-position:0 -138px"></div>
                <div class="gb_V">
                    <div class="gb_W">検索</div>
                    <a class="gb_X gb_cg" href="#">ショートカットを追加</a></div>
            </div>
            <a class="gb_F gb_cg" aria-label="その他の Google アプリ"
               href="https://www.google.co.jp/intl/ja/about/products?tab=wh">もっと見る</a><span
                class="gb_H"></span>
            <ul class="gb_E gb_x" aria-dropeffect="move">
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="25" draggable="false"
                                                         href="https://docs.google.com/document/?usp=docs_alc&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb25">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -2484px"></span><span
                        class="gb_o">ドキュメント</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="10" draggable="false"
                                                         href="https://books.google.co.jp/bkshp?hl=ja&amp;tab=wp&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb10">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -1932px"></span><span
                        class="gb_o">ブックス</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="30" draggable="false"
                                                         href="https://www.blogger.com/?tab=wj&amp;authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb30">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -2277px"></span><span
                        class="gb_o">Blogger</span></a></li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="461" draggable="false"
                                                         href="https://duo.google.com/?usp=duo_ald"
                                                         rel="noreferrer" target="_blank" id="gb461">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -1242px"></span><span
                        class="gb_o">Duo</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="300" draggable="false"
                                                         href="https://hangouts.google.com/?authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb300">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -897px"></span><span
                        class="gb_o">ハングアウト</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="136" draggable="false"
                                                         rel="noreferrer" target="_blank"
                                                         href="https://keep.google.com/u/0" id="gb136">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_b"></span><span class="gb_o">Keep</span></a></li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="357" draggable="false"
                                                         href="https://jamboard.google.com/?authuser=0&amp;usp=jam_ald"
                                                         rel="noreferrer" target="_blank" id="gb357">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -414px"></span><span
                        class="gb_o">Jamboard</span></a></li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="265" draggable="false"
                                                         href="https://classroom.google.com/?authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb265">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -207px"></span><span
                        class="gb_o">Classroom</span></a></li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="429" draggable="false"
                                                         href="https://earth.google.com/web/?authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb429">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -1173px"></span><span
                        class="gb_o">Earth</span></a>
                </li>
                <li class="gb_i" aria-grabbed="false"><a class="gb_d" data-pid="338" draggable="false"
                                                         href="https://www.google.co.jp/save?authuser=0"
                                                         rel="noreferrer" target="_blank" id="gb338">
                    <div class="gb_s"></div>
                    <div class="gb_t"></div>
                    <div class="gb_u"></div>
                    <div class="gb_v"></div>
                    <span class="gb_m" style="background-position:0 -828px"></span><span
                        class="gb_o">コレクション</span></a>
                </li>
            </ul>
            <a class="gb_4f gb_H" href="https://www.google.co.jp/intl/ja/about/products?tab=wh">さらにもっと</a>
        </div>
        <div class="gb_Wa gb_B" aria-label="アカウント情報" aria-hidden="true">
            <div class="gb_6a"><a class="gb_bb gb_7a gb_cg" aria-label="プロフィール画像を変更します。"
                                  href="https://myaccount.google.com/?utm_source=OGB&amp;hl=ja&amp;tab=wk&amp;authuser=0"
                                  rel="noreferrer" target="_blank">
                <div class="gb_cb" style="position:relative">
                    <div class="gb_Ca gbip" title="プロフィール"></div>
                    <span class="gb_Qa">変更</span></div>
            </a>
                <div class="gb_8a">
                    <div class="gb_jb gb_kb">Qifan Sun</div>
                    <div class="gb_lb">sqf121@gmail.com</div>
                    <div class="gb_7f gb_5a"><a class="gb_Ib"
                                                href="https://policies.google.com/privacy?hl=ja"
                                                target="_blank">プライバシー</a></div>
                    <a class="gb_4 gb_8f gbp1 gb_Re gb_tb"
                       href="https://myaccount.google.com/?utm_source=OGB&amp;hl=ja&amp;tab=wk&amp;authuser=0&amp;utm_medium=act"
                       target="_blank">Google アカウント</a></div>
            </div>
            <div class="gb_Fb">
                <div class="gb_bg gb_Mb" aria-hidden="false"><a class="gb_Ob gb_Zb" aria-hidden="true"
                                                                href="https://www.google.com/webhp?authuser=0"><img
                        class="gb_1b gb_cb"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        alt="プロフィール"
                        data-src="https://lh3.googleusercontent.com/-My1KzrfjTo0/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd87qfl29ZIr9wwOiM1TqkjvYiQrQ.CMID/s48-c/photo.jpg">
                    <div class="gb_Rb">
                        <div class="gb_4b">Qifan Sun</div>
                        <div class="gb_6b">sqf121@gmail.com（デフォルト）</div>
                    </div>
                </a><a class="gb_Ob" href="https://www.google.com/webhp?authuser=1"><img class="gb_1b gb_cb"
                                                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                         alt="プロフィール"
                                                                                         data-src="https://lh3.googleusercontent.com/-7RdyITDtg30/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rfhVFmyiOPjqCj9BOfryOxCgW6jwg.CMID/s48-c/photo.jpg">
                    <div class="gb_Rb">
                        <div class="gb_4b">Kibon Son</div>
                        <div class="gb_6b">kibon.son@playnext-lab.co.jp</div>
                    </div>
                </a><a class="gb_Ob" href="https://www.google.com/webhp?authuser=2"><img class="gb_1b gb_cb"
                                                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                         alt="プロフィール"
                                                                                         data-src="https://lh3.googleusercontent.com/-lE-VJZV4keE/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcOYZu4hZC-rEfb45EwBQmBWRSIJQ.CMID/s48-c/photo.jpg">
                    <div class="gb_Rb">
                        <div class="gb_4b">x Sun</div>
                        <div class="gb_6b">goodpeoplesun@gmail.com</div>
                    </div>
                </a><a class="gb_Ob" href="https://www.google.com/webhp?authuser=3"><img class="gb_1b gb_cb"
                                                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                         alt="プロフィール"
                                                                                         data-src="https://lh3.googleusercontent.com/-aKAgHmiBaPg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3re9B1AvpABOle7ZCRA0CK4Sm1HuMw.CMID/s48-c/photo.jpg">
                    <div class="gb_Rb">
                        <div class="gb_4b">Phrike</div>
                        <div class="gb_6b">phrikes@gmail.com</div>
                    </div>
                </a><a class="gb_Ob" href="https://www.google.com/webhp?authuser=4"><img class="gb_1b gb_cb"
                                                                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                         alt="プロフィール"
                                                                                         data-src="https://lh3.googleusercontent.com/-kGPR579jdcs/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rdk4DA3BQKX9E9JqrahZxLEVMm6hQ.CMID/s48-c/photo.jpg">
                    <div class="gb_Rb">
                        <div class="gb_4b">SUN QIFAN</div>
                        <div class="gb_6b">xl18701@shibaura-it.ac.jp</div>
                    </div>
                </a></div>
                <a class="gb_bc gb_za gb_ac"
                   href="https://myaccount.google.com/brandaccounts?authuser=0&amp;continue=https://www.google.com/&amp;service=https://www.google.com/webhp%3Fauthuser%3D%24authuser"
                   aria-hidden="true"><span class="gb_cc gb_sc"></span>
                    <div class="gb_ec">すべてのブランド アカウント &raquo;</div>
                </a></div>
            <div class="gb_eg gb_kc gb_za">
                <div class="gb_mc"></div>
            </div>
            <div class="gb_6f gb_sb">
                <div><a class="gb_4 gb_5f gb_Re gb_tb"
                        href="https://accounts.google.com/AddSession?hl=ja&amp;continue=https://www.google.com/">アカウントを追加</a>
                </div>
                <div><a class="gb_4 gb_9f gb_hg gb_Re gb_tb" id="gb_71"
                        href="https://accounts.google.com/Logout?hl=ja&amp;continue=https://www.google.com/&amp;timeStmp=1566711337&amp;secTok=.AG5fkS8-XLD46nQ_oOZJ0moy0CSA_ack6g"
                        target="_top">ログアウト</a></div>
            </div>
        </div>
    </div>
</div>

{#</div>#}
<textarea class="csi" name="csi" style="display:none"></textarea>
<script type="text/javascript" nonce="6tuUzV4qcgFQTy499gvwkQ==" src="/static/others.js"></script>
</body>
</html>